body {
  background-color: rgb(39,40,34);
}
header {
  background-image: url('../img/banner.png');
  background-position: center;
  background-size: cover;
}

li {
  text-align: left;
}

#header-contents {
  margin-left: auto;
  margin-right: auto;
}

.jump-to-list {
  text-align: right;
}
.proj-img {
  max-width: 150px;
}
.proj {
  padding: 15px;
  margin: 15px;
  text-align: center;

  box-shadow: 2px 2px 2px 2px black;
}
.skill-bar {
  width: 80%;
}

/*
  MONOKAI STLYE COLOR CLASES
  FROM: http://www.colourlovers.com/palette/1718713/Monokai
*/

.sundried-clay {
  color: rgb(39, 40, 34);
}

.orchid {
  color: rgb(249, 38, 114);
}

.bounded-rationality {
  color: rgb(102, 217, 239);
}

.bg-bounded-rationality { /* background color for bounded rationality */
  background-color: rgb(102, 217, 239);
}

.henn1nk {
  color: rgb(166, 226, 46);
}

.pumpkin-spice {
  color: rgb(253, 151, 31);
}

@media screen and (max-width: 530px) {
  #title {
    display: none;
  }

}
